CHOKIDAR_USEPOLLING=true
WATCHPACK_POLLING=true

NEXT_PUBLIC_PLAYER_API_URL=
NEXT_PUBLIC_PLAYER_NAME_PAGE='AdOnPlay Player'
NEXT_PUBLIC_PLAYER_UPLOAD_BASE_URL=
NEXT_PUBLIC_PLAYER_UPLOAD_IMAGE_URL=
NEXT_PUBLIC_PLAYER_ACTIVATE_DEVICE_URL=
NEXT_PUBLIC_PLAYER_RAILS_ACTION_CABLE_URL=